.addToCartButton {
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  flex: 1;
  font-family: "Inter", sans-serif;
}

.addToCartButton:hover {
  background-color: #218838;
}
